# Ignore the virtual environment
venv/
__pycache__/

# Ignore AWS credentials and certificates
*.pem
*.crt
*.key

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignore .env created for InfluxDB V3
.env

.env
